@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient{
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593)
}